# Visual Studio
.vs/

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Rider
.idea/

# Others
*.dbmdl
*.bak
*.backup
*.ldf
*.mdf
*.log

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Publish
*.publishsettings
publish/

# Coverage
*.coverage
*.coveragexml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Entity Framework
Migrations/

# Docker
docker-compose.override.yml
